<div class="container sign-up">
	<div class="row">
		<div class="title">
			<h4>Sign Up Form</h4>
		</div>
	</div>
	<div class="row">
		<% if @user.errors.any? %>
			<% @user.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		<% end %>
		<div class="sign-up-form col-md-4 col-md-offset-4">
			<%= form_for @user, class: "form-horizontal" do |f| %>
				<div class="form-group">
					<label class="control-label">First name</label>
					<%= f.text_field :first_name, class: "form-control" %>
				</div>
				<div class="form-group">
					<label class="control-label">Last name</label>
					<%= f.text_field :last_name, class: "form-control" %>
				</div>
				<div class="form-group">
					<label class="control-label">Email</label>
					<%= f.text_field :email, class: "form-control" %>
				</div>
				<div class="action">
					<%= f.submit class: "btn btn-primary" %>
					<label>
						<%= link_to "Sign In", users_sign_in_path, class: "btn btn-link" %>
					</label>
				</div>
			<% end %>
		</div>
	</div>
</div>